div.like {
    color: darkgrey;
    font-size: large;
    display: inline;
}

button.likeButton {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
    cursor: grab;
    box-shadow: 0 0px 1px #bbb;
    transition-delay: 0.1s;
    transition-duration: 0.3s;
}

    button.likeButton:hover {
        box-shadow: 0 1px 2px #bbb;
        background: radial-gradient(#c8323c, Transparent);
    }

.commentText {
    display: block;
    text-align: left;
    margin-left: 6%;
    font-size: small;
}